@import '@/theme/theme.scss';

.fullContainer {
  position: relative;
  background-color: #0E121D;
  position: absolute;
  z-index: 10;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
transition: background-color 200ms linear;



  .wrapper {
    justify-content: space-between;
    width: min(1220px, 95%);
    padding: 1rem 0;
    margin: 0 auto;
    z-index: 2;
  

    @media screen and (max-width: 768px) {}

    display: flex;
    align-items: center;


    ul {
      display: flex;
      gap: 3rem;
      

      @media screen and (max-width: 768px) {
        display: none;
      }

      a {
        border-radius: 99rem;
        color: #fff;
        font-weight: 500;
        border: 1px solid transparent;
        transition: all 200ms linear;

        &:hover {
          // border: 1px solid $primary-color;
          color: $text-gray;
        }
      }
    }

    button {
      color: $text;
      background-color: #45494e77;
      padding: 1rem 2rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }

  }

  &::after {
    content: "";
    background: linear-gradient(45deg, rgba(82, 5, 5, 0.4), rgba(23, 62, 110, 0.4), rgba(1, 120, 20, 0.4));
    height: 25rem;
    filter: blur(2rem);
    border-radius: 50%;
    width: 70%;
    position: absolute;
    z-index: -1;
  }
}
